.reg-form {
  display: grid;
  row-gap: 15px;
  width: 70%;
  margin: 10px auto;
  padding: 10px;
  border: 2px solid plum;
  font-size: 1.06rem;
}

.role,
.input-fields {
  display: flex;
  flex-direction: column;
}

.role-type {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.input-fields label {
  font-weight: bold;
}

.input-fields input {
  font-size: 1rem;
  padding: 5px;
}

.submit-btn {
  width: max-content;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
  margin: 30px auto 15px;
}

@media screen and (min-width: 775px) {
  .input-fields {
    flex-direction: row;
    justify-content: space-between;
  }

  .data_input {
    width: 70%;
  }

  .role {
    flex-direction: row;
    justify-content: space-around;
  }
}
